
body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/hader1.jpg);
    background-repeat: repeat-x;
    font-size: 14px;
}
.container{
    width: 968px;
    margin: 0;
    padding: 0;
    text-align: left;
}
.header{
    height: 75px;
    margin: 0;
    overflow: hidden;
}
.logo{
    float: left;
    margin-top: 0px;
    height: 80px;
    margin-left: 520px;
}
.nav{
    float: right;
    padding-top: 21px;
    margin: 0;
    margin-right: 580px;
}
.nav li{
    display: inline;
}
.nav a{
    display: inline-block;
    padding-left: 8px;
    margin: 0 2px;
    line-height: 33px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    padding-right: 15px;
}
.nav a:hover{
    font-weight: 700;
    background-color: #000;
    border-radius: 32px;
    color: #fff;
    padding-right: 15px;
}
.nav a:active{
    font-weight: 700;
    background-color: #000;
    border-radius: 32px;
    color: #fff;
    padding-right: 10px;
}
.content{
    background: none;
    border: none;
    border-radius: 0;
    position: relative;
    margin-bottom: 100px;
}
.banner{
    padding-top: 30px;
    height: 424px;
}
.banner-text{
    float: left;
    padding-left: 500px;
}
.banner h1{
    font-size: 28px;
    font-weight: 400;
}
.banner p{
    color: #888;
    font-size: 18px;
}
.btu1{
    padding: 10px 50px;
    border: none;
    background-color: #609700;
    font-size: 20px;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 5px;
}
.banner-img{
    padding-left: 820px;
}
.warp{
    width: 490px;
    height: 280px;
    
}
.list{
    list-style-type: none;
    width:  490px;
    height: 280px;
}
.item{
    width: 490px;
    height: 280px;
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
}
.item.active{
    z-index: 10;
    opacity: 1;
}
.item:nth-child(1){
    background-image: url(../images/banner\ .1.jpg);
    background-repeat: no-repeat;
}
.item:nth-child(2){
    background-image: url(../images/banner.2.jpg);
    background-repeat: no-repeat;
}
.item:nth-child(3){
    background-image: url(../images/banner.3.jpg);
    background-repeat: no-repeat;
}
.btn{
    width: 30px;
    height: 60px;
    top: 160px;
    position:absolute;
    background-color:  #609700;
    border: none;
    color: #fff;
    font-size: 22px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
#goPre{
    right: 1040x;
    z-index: 100;
}
#goNext{
    right: 514px;
    z-index: 100;
}
.item.active{
    z-index: 10;
    opacity: 1;
}
.fuction{
    display: block;
}
.fuction li{
    height: 20px;
    font-size: 14px;
    color: #609700;
}
.swiper-container {
    width: 600px;
    height: 300px;
  
}  
.swiper-slide img{
    padding-left: 52px;

}
.info{
    height: 282px;
}
.info li{
    float: left;
    list-style-type:none;
}
.info h3{
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
}
.info p{
    font-size: 14px;
    color: #999;
    line-height: 11px;
}
.info a{
    text-decoration: none;
    color:#609700 ;
}
.download{
    padding-left: 400px;
}

.download-web{
    background-image: url(../images/download-item.png);
    width: 216px;
    height: 114px;
}
.download-mac{
    background-image: url(../images/download-item.png);
    background-position:-217px 0 ;
    width: 216px;
    height: 114px;
}
.download-win{
    background-image: url(../images/download-item.png);
    background-position: -436px 0;
    background-repeat: no-repeat;
    width: 216px;
    height: 114px;
}
.news{
    height: 220px;
    padding-right: 440px;
}
.news li{
    height: 30px;
    font-size: 12px;
    color: #609700;
}
.news span{
    color: #333;
    float: right;
    text-align: left;
    line-height: 20px;
    
}
.footer{
    clear: both;
    margin-top: 22px;
    border-top: 1px solid #d4dadf;
    font-size: 12px;
    text-align: left;
    color: #d8d8d8;
    padding: 10px 0;
}
.footer-copyright{
    float: left;
}
.language{
    float: right;
}

@media screen and (max-width:480px){
    .swiper-container {
      display:none;
     }
     .container{
        width: 400px;
        margin: 0 auto;
        padding: 0 10px;
        text-align: left;
    }
    .download{
        padding: 0;
    }
    .header .logo{
        float: left;
        margin-top: 14px;
        margin-left: 130px;
        height: 44px;
    }
    .banner-text{
        float: left;
        padding-left: 60px;
        
    }
    .download{
        width: 290px;
        height: 600px;
        margin-left: 50px;
        margin: 0 atuo;
        text-align: center;
        
    }
    .news{
        padding: 0;····
    }
    .news h3{
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .footer-copyright{
        float: none;
        text-align: center;
    }
    .language{
        display: none;
    }
}